.form {
  margin: 100px;
  display: flex;
  width: 400px;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffff;
  border-radius: 5%;
  opacity: 0.8;
}

.form form {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.form button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.form ul li {
  display: block;
  color: red;
  font-size: 0.7rem;
}
