.form{
    margin: 100px;
    display: flex;
    width:400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: #ffff;
    border-radius: 5%;
    opacity: 0.8;
}
