.user{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: antiquewhite;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user:hover::after{
    content: attr(name);
    font-size: small;
    position: absolute;
    width: max-content;
    height: 20px;
    padding: 2px;
    top:100%;
    background-color: white;
}