.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.ul li{
    display: block;
    transform: translate(0,300%);
    transition: 1s ease;
}