.container {
  height: 100vh;
  padding-left: 90px;
  transition: .3s ease-out;
}

.projectDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 10px;
  /* background-color: darkturquoise; */
}

.projectDetails div:first-child{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap:10px; 
}

.creator{
  width: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
}

.projectDetails div input {
  width: auto;
  overflow: visible;
  font-size: xx-large;
  font-weight: bolder;
  color: #2722BF;
  background-color: transparent;
}

.projectDetails div textarea{
  background-color: transparent;
}

.contributors ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.contributors ul li {
  display: block;
}

.tasks {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}


.isHovered {
   padding-left: 270px;
}

.admin {
  position: relative;
  width: min-content;
}
.admin svg{
  cursor: pointer;
}

.admin:hover::after {
  content: 'You can edit the details of the project here';
  position: absolute;
  width: max-content;
  height: max-content;
  top:100%;
  background-color: white;
  font-size: small;
  border: solid 1px black;
  padding: 5px;
}

.member{
  position:relative ;
  width: min-content;
}

.member svg{
  cursor:not-allowed;
}

.member:hover::after{
  content: 'Only the admin can change the details of the project';
  position: absolute;
  width: max-content;
  height: max-content;
  top:100%;
  background-color: white;
  font-size: small;
  border: solid 1px black;
  padding: 5px;
}

.delete_project{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:10px;
  border-color: red;
  background-color: transparent;
  color:red;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}